/* текст */
.main-title {  
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.03em;
}

.title-regular { 
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}

.title-bold {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.text-bold-large {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

.text-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.text-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.text-small {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
}





body {
    background-color: #FEFCFE;
    color: #2B3541;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

.main-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
} 

.email-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #F3F3F3;
}

.header {
    display: flex;
}

.header__link-logo-img {
    margin-left: 50px;
    margin-right: 235px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav__list-item {
    padding-left: 15px;
}

.nav__list-link {
    text-decoration: none;
    color: #2B3541;
    transition: 2s;
    padding-bottom: 10px;
}

.nav__list-link:hover {
    border-bottom: 1px solid #2B3541; 
}

.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
}



/* block special-offer */

.special-offer {
    max-width: 1325px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   
    margin-bottom: 164px;
    padding-top: 250px;
    background-image: url("../@1x/Image\ 1\ screen.png");
    background-repeat: no-repeat;
    background-position: 331px 13px;
    height: 615px;
}

.special-offer__title {
    margin: 0;
    width: 675px;
    text-transform: uppercase;
}

.special-offer__description {
    margin: 0;
    margin-bottom: 40px;
    padding-left: 80px;
    width: 297px;
}

.special-offer__link {
    margin-left: 80px;
    padding: 20px 30px 20px 30px;
    height: 64px;
    width: 252px;
    color: #2B3541;
    background-color: #FBF138;
    text-decoration: none;
}

.special-offer__link:hover {
    color: #FBF138;
    background-color: #2B3541;
}





/* block events */
.container__events {
    margin-bottom: 189px;
}

.events__title {
    margin: 0;
    margin-bottom: 40px;
}

.events__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px;
    grid-gap: 20px;
}

.events__list-item {
    display: grid;
    padding: 30px;
    position: relative;
}

.events__list-item--marathon {
    background-image: linear-gradient(to bottom, rgba(251, 241, 56, .3),
                     rgba(253, 249, 182, .0)), url("../@1x/maraphon.png");
    background-repeat: no-repeat;

}

.events__list-item--coaching {
    background-image: linear-gradient(to bottom, rgba(251, 241, 56, .3),
                    rgba(253, 249, 182, .0)), url("../@1x/Vebinar\ 1.png");
    background-repeat: no-repeat;
}

.events__list-item--yoga {
   background-image:  linear-gradient(to bottom, rgba(251, 241, 56, .3),
                     rgba(253, 249, 182, .0)), url("../@1x/Vebinar\ 2.png");
   background-repeat: no-repeat;
}

.events__list-title {
    margin: 0;
}

.events__list-text {
    margin: 0;
    height: 47px;
    width: 122px;
    color: #2B3541;
    background-color: #FBF138;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    align-self: end;
    position: absolute;
    bottom: 0;
    right: 0;
}




/* block schedule */
.container__schedule {
    margin-bottom: 131px;
}

.schedule__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.schedule__title {
    margin: 0;
}

.schedule__title-span {
    width: 100%;
    display: block;
}

.schedule__list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px 20px;
}


.schedule__list-item {
    display: grid;
    border: 1px solid rgba(43, 53, 65, .5);
    box-sizing: border-box;
    width: 367px;
    height: 250px;
}

.schedule__list-date {
    justify-self: flex-end;
}

.schedule__list-title {
    margin: 0;
    position: relative;

}

.schedule__list-title::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.schedule__list-title--functional::before {
    width: 65px;
    height: 65px;
    background-image: url("../icons/body.svg");
}

.schedule__list-title--sculpt::before {
    width: 42px;
    height: 85px;
    background-image: url("../icons/bottle.svg");
 
}

.schedule__list-title--lab::before {
    width: 91px;
    height: 50px;
    background-image: url("../icons/dumbbell.svg");
}

.schedule__list-title--power::before {
    width: 67px;
    height: 107px;
    background-image: url("../icons/jump.svg");
}

.schedule__list-title--breath::before {
    width: 65px;
    height: 61px;
    background-image: url("../icons/heart.svg");
}

.schedule__list-title--warm-up::before {
    width: 58px;
    height: 66px;
    background-image: url("../icons/weight.svg");
}




/* block mailing */

.container__mailing {
    margin-bottom: 160px;
}

.mailing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailing__title {
    margin: 0;
}

.mailing__form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;

}
.mailing__form-description {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(43, 53, 65, .5);
}

.mailing__form-input {
    padding: 19px;
    width: 327px;
    border: none;
}

.mailing__form-input::placeholder {
    color: rgba(43, 53, 65, .3);
}

.mailing__form-button {
    height: 65px;
    width: 252px;
    color: #2B3541;
    background-color: #FBF138;
    border: none;
    text-transform: uppercase;
}

.mailing__form-button:focus {
    outline: none;
}

.mailing__form-link {
    color: rgba(43, 53, 65, .5);
}